@page
@model Projekt_.NET.Pages.Distributors.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container2">
    <div class="top">
        Nowy dystrybutor
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row-add">
            <label asp-for="Distributor.Name" class="row-add-label"></label>
            <input asp-for="Distributor.Name" class="form-control" />
        </div>
        <span asp-validation-for="Distributor.Name" class="text-danger"></span>
        <div class="row-add-btn">
            <button class="accept-button">Zatwierdź</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
