@page
@model Projekt_.NET.Pages.Albums.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container2">
    <div class="top">
        Nowy album
    </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-add">
            <label asp-for="Album.Title" class="row-add-label"></label>
                <input asp-for="Album.Title" class="form-control" />
            </div>
                <span asp-validation-for="Album.Title" class="text-danger"></span>

            <div class="row-add">
                <label class="control-label">Wykonawcy: </label>
                <select asp-for="Selected_PerformersIds" class="form-control" asp-items="ViewBag.Performers"></select>
            </div>
            <div class="row-add">
            <label asp-for="Album.PhotoData" class="row-add-label"></label>
                <input asp-for="Album.PhotoData" class="form-control" />
            </div>
                <span asp-validation-for="Album.PhotoData" class="text-danger"></span>

            <div class="row-add">
            <label asp-for="Album.Price" class="row-add-label"></label>
                <input asp-for="Album.Price" class="form-control" /> 
            </div>
            <span asp-validation-for="Album.Price" class="text-danger"></span>
            <div class="row-add">
            <label asp-for="Album.RelaseDate" class="row-add-label"></label>
                <input asp-for="Album.RelaseDate" class="form-control" />  
            </div>
            <span asp-validation-for="Album.RelaseDate" class="text-danger"></span>
            <div class="row-add">
            <label asp-for="Album.DistributorId" class="row-add-label"></label>
                <select asp-for="Album.DistributorId" class ="form-control" asp-items="ViewBag.DistributorId"></select>
            </div>
            <div class="row-add">
            <label asp-for="Album.ProducerId" class="row-add-label"></label>
                <select asp-for="Album.ProducerId" class ="form-control" asp-items="ViewBag.ProducerId"></select>
            </div>
            <div class="row-add">
                <label asp-for="Album.CategoryId" class="row-add-label"></label>
                <select asp-for="Album.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="row-add-btn">
                <button class="accept-button">Zatwierdź</button>
            </div>
        </form>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
